@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer base {
  body {
    font-family: 'Lato', sans-serif;
     @apply bg-background-100;
  }
}

.default-enter-active,
.default-leave-active {
  transition: opacity .5s;
}

.default-enter,
.default-leave-to {
  opacity: 0;
}